@use "src/styles/mixins.scss" as mixins;

.contactModal {
  width: 504px;
  height: 527px;
  padding: 30px 40px 40px;

  &__header {
    position: relative;
    margin-bottom: 28px;

    img {
      width: 91px;
      height: 30px;
    }

    &__closeIcon {
      position: absolute;
      top: 0;
      right: -10px;
      cursor: pointer;
      transform: rotate(0);
      transition: all .3s ease;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  &__main {
    h1 {
      @include mixins.blockTitle();
      font-size: 40px;
      margin-bottom: 18px;
    }
  
    p {
      @include mixins.bodyText();
      margin-bottom: 32px;
    }

    &__form {
      &__types {
        display: flex;
        column-gap: 10px;
        margin-bottom: 20px;
      }

      &__inputs {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        margin-bottom: 40px;
      }

      &__btn {
        display: flex;
        justify-content: center;
      }
    }
  }
}