@use "src/styles/mixins.scss" as mixins;

$border-radius: 20px;

.aboutUs {
  &__container {
    padding: 80px 0;
  }

  &__head {
    margin: 0 auto 100px;
    max-width: 1178px;
    width: 90%;
    height: 218px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    border: 1px solid transparent;
    @include mixins.borderRounded($border-radius);

    img {
      position: absolute;
      object-fit: cover;
      border-radius: $border-radius;
      height: 100%;
      width: 100%;
      z-index: 4;
      background-color: #041028;
    }

    h1 {
      position: relative;
      z-index: 5;
      @include mixins.blockTitle();
    }
  }

  &__list {
    padding: 83px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    max-width: 968px;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 367px;
      height: 100%;
      width: 1px;
      background: linear-gradient(97deg, #EF9CDA 0%, #121A6F 61.98%, #89A1EF 120%);
    }

    &__circle {
      position: absolute;
      z-index: 3;
      top: 17.8%;;
      left: calc(368px - 8px);
      width: 14px;
      height: 14px;
      background-color: #4ECDC4;
      border-radius: 50%;
    }

    &__item {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 180px;
      width: 100%;
      opacity: 50%;

      &_main {
        opacity: 100%;
      }

      &__circleBox {
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        left: calc(367px - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
              96.56deg,
              #EF9CDA 0%,
              #121A6F 61.98%,
              #89A1EF 100%
            );
        border-radius: 50%;

        &__circle {
          position: relative;
          z-index: 3;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: #041028;
        }
      }

      h1 {
        text-align: end;
        font-size: 50px;
        font-weight: 700;
      }

      p {
        width: 510px;
        @include mixins.bodyText();
      }
    }
  }
}