@use "src/styles/mixins.scss" as mixins;

$border-radius: 20px;

.aboutUs {
  position: relative;

  &__container {
    padding: 80px 0;

    @include mixins.devices(tablet) {
      padding: 80px 0 60px;
    }
  }

  &__head {
    margin: 0 auto 100px;
    max-width: 1178px;
    width: 90%;
    height: 218px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    border: 1px solid transparent;
    @include mixins.borderRounded($border-radius);

    @include mixins.devices(tablet) {
      margin: 0 auto 60px;
    }

    img {
      position: absolute;
      object-fit: cover;
      border-radius: $border-radius;
      height: 100%;
      width: 100%;
      z-index: 4;
      background-color: #041028;
    }

    h1 {
      position: relative;
      z-index: 5;
      @include mixins.blockTitle();
    }
  }

  &__list {
    padding: 83px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 180px;
    max-width: 968px;
    margin: 0 auto;

    @include mixins.devices(smallDesk) {
      padding: 60px 16px;
    }

    @include mixins.devices(tablet) {
      padding: 60px 16px;
      padding-left: 56px;
      gap: 120px;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 367px;
      height: 100%;
      width: 1px;
      background: linear-gradient(97deg, #EF9CDA 0%, #121A6F 61.98%, #89A1EF 120%);

      @include mixins.devices(smallDesk) {
        left: 32%;
      }

      @include mixins.devices(tablet) {
        left: 26px;
      }
    }

    &__circle {
      position: absolute;
      z-index: 3;
      top: 0;
      left: calc(368px - 8px);
      width: 14px;
      height: 14px;
      background-color: #4ECDC4;
      border-radius: 50%;
      transition: all .3s ease;

      @include mixins.devices(smallDesk) {
        left: calc(32% - 7px);
      }

      @include mixins.devices(tablet) {
        left: 19px;
      }
    }
  }
}

.elements {
  &__circleShadow {
    position: absolute;
    z-index: 0;
    top: 288px;
    left: -25%;
    width: 404px;
    height: 404px;
    border-radius: 50%;
    background: #89A1EF;
    filter: blur(190px);

    @include mixins.devices(tablet) {
      width: 225.944px;
      height: 225.944px;
      top: 226px;
      left: -100px;
      filter: blur(150px);
    }
  }

  &__circleShadowBottom {
    position: absolute;
    z-index: 0;
    bottom: -400px;
    right: -200px;
    width: 404px;
    height: 404px;
    border-radius: 50%;
    background: #89a1ef;
    filter: blur(190px);

    @include mixins.devices(tablet) {
      width: 199.928px;
      height: 199.928px;
      bottom: -400px;
      right: -100px;
      filter: blur(140px);
    }
  }


  &__circleShadowBottom2 {
    position: absolute;
    z-index: 0;
    bottom: -600px;
    right: -30%;
    width: 404px;
    height: 404px;
    border-radius: 50%;
    background: #EF9CDA;
    filter: blur(190px);

    @include mixins.devices(tablet) {
      display: none;
    }
  }
}

.anchor {
  position: relative;
  top: -95px;
}