@use "src/styles/mixins.scss" as mixins;

.contactUs {
  position: relative;
  overflow: hidden;
  @include mixins.border(bottom);

  &__container {
    padding: 80px 64px;
    width: max-content;
    margin: 0 auto;

    @include mixins.devices(tablet) {
      padding: 60px 15px;
      width: 100%;
    }
  }

  &__title {
    @include mixins.mainTitle();
    text-align: center;
    margin-bottom: 50px;

    @include mixins.devices(tablet) {
      margin-bottom: 40px;
    }
  }

  &__form {
    width: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;

    @include mixins.devices(tablet) {
      width: 100%;
    }

    &__button {
      margin-top: calc(50px - 14px);

      @include mixins.devices(tablet) {
        margin-top: calc(40px - 14px);
      }
    }
  }
}

.elements {
  &__circle {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2248px;
    height: 2248px;
    border-radius: 50%;
    border: 1px solid rgba(245, 245, 245, 0.11);

    @include mixins.devices(tablet) {
      width: 610px;
      height: 610px;
    }
  }
}
