@use "src/styles/mixins.scss" as mixins;

.contactUs {
  @include mixins.border(bottom);

  &__container {
    padding: 80px 64px;
    width: max-content;
    margin: 0 auto;
  }

  &__title {
    @include mixins.blockTitle();
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__form {
    width: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;

    &__button {
      margin-top: calc(50px - 14px);
    }
  }
}