@use "src/styles/mixins.scss" as mixins;

.banner {
  height: 100vh;
  min-height: 800px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mixins.devices(tablet) {
    padding-top: 95px;
    height: max-content;
  }

  &__imgBox {
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;

    @include mixins.devices(tablet) {
      display: none;
    }
  }

  &__shieldImg {
    position: absolute;
    z-index: 2;
    right: 246px;
    top: 21%;
    margin: auto;
    // animation: shieldAnimation 4s linear infinite;

    &_mob {
      display: none;
      width: 130px;
      margin: 0 auto;
      animation: shieldAnimation 4s linear infinite;

      @include mixins.devices(tablet) {
        display: flex;
      }
    }
  }

  &__robotImg {
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 50%;

    &_mob {
      display: none;

      @include mixins.devices(tablet) {
        display: flex;
        width: 100%;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 3;
    padding-left: 64px;

    @include mixins.devices(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 16px;
      padding-bottom: 60px;
      padding-top: 60px;
    }

    h1 {
      @include mixins.mainTitle();
      margin-bottom: 26px;

      @include mixins.devices(tablet) {
        margin-bottom: 40px;
      }
    }

    p {
      color: #ffffff;
      @include mixins.bodyText();
      margin-bottom: 40px;
      max-width: 600px;

      @include mixins.devices(tablet) {
        padding-right: 16px;
        margin-top: 40px;
      }
    }
  }
}

.elements {
  &__circle {
    position: absolute;
    z-index: 0;
    bottom: 37%;
    left: -30%;
    width: 1124px;
    height: 1124px;
    border-radius: 50%;
    border: 1px solid rgba(245, 245, 245, 0.11);

    @include mixins.devices(tablet) {
      width: 788px;
      height: 788px;
      bottom: 77px;
      left: -263px;
    }
  }

  &__circleShadow1 {
    position: absolute;
    z-index: 0;
    left: 6%;
    top: 50%;
    width: 150px;
    height: 150px;
    background-color: #ef9cda;
    filter: blur(100px);
    box-shadow: 0px 0px 140px 0px #ef9cda;
    -webkit-box-shadow: 0px 0px 150px 0px #ef9cda;
    -moz-box-shadow: 0px 0px 150px 0px #ef9cda;

    @include mixins.devices(tablet) {
      display: none;
    }
  }

  &__circleShadow2 {
    position: absolute;
    z-index: 0;
    top: 35%;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: #89a1ef;
    filter: blur(100px);
    box-shadow: 0px 0px 140px 0px #89a1ef;
    -webkit-box-shadow: 0px 0px 140px 0px #89a1ef;
    -moz-box-shadow: 0px 0px 140px 0px #89a1ef;

    @include mixins.devices(tablet) {
      display: none;
    }
  }

  &__circleShadow3 {
    position: absolute;
    z-index: 0;
    top: 58%;
    left: 10%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #121a6f;
    filter: blur(30px);
    box-shadow: 0px 0px 60px 0px #121a6f;
    -webkit-box-shadow: 0px 0px 60px 0px #121a6f;
    -moz-box-shadow: 0px 0px 60px 0px #121a6f;
    opacity: 0.5;

    @include mixins.devices(tablet) {
      display: none;
    }
  }

  &__circleBottom {
    position: absolute;
    z-index: 0;
    bottom: -18%;
    right: -25%;
    width: 506px;
    height: 506px;
    border-radius: 50%;
    border: 1px solid rgba(245, 245, 245, 0.11);

    @include mixins.devices(tablet) {
      display: none;
    }
  }

  &__circleShadowBottom1 {
    position: absolute;
    z-index: 0;
    bottom: -18%;
    right: -4%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ef9cda;
    filter: blur(100px);

    box-shadow: 0px 0px 200px 0px #ef9cda;
    -webkit-box-shadow: 0px 0px 200px 0px #ef9cda;
    -moz-box-shadow: 0px 0px 200px 0px #ef9cda;

    @include mixins.devices(tablet) {
      width: 150px;
      height: 150px;
      bottom: -50px;
      left: -2%;
      filter: blur(100px);
      box-shadow: 0px 0px 150px 0px #ef9cda;
      -webkit-box-shadow: 0px 0px 150px 0px #ef9cda;
      -moz-box-shadow: 0px 0px 150px 0px #ef9cda;
      opacity: 0.7;
    }
  }

  &__circleShadowBottom2 {
    position: absolute;
    z-index: 0;
    bottom: -4%;
    right: 13%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #89a1ef;
    filter: blur(100px);

    box-shadow: 0px 0px 200px 0px #89a1ef;
    -webkit-box-shadow: 0px 0px 200px 0px #89a1ef;
    -moz-box-shadow: 0px 0px 200px 0px #89a1ef;

    @include mixins.devices(tablet) {
      display: none;
    }
  }

  &__circleShadowBottom3 {
    position: absolute;
    z-index: 0;
    bottom: -225px;
    right: 40px;
    width: 140px;
    height: 140px;
    background-color: #121a6f;
    filter: blur(90px);

    @include mixins.devices(tablet) {
      display: none;
    }
  }
}

@keyframes shieldAnimation {
  0% {
    transform: rotate3d(0, 0, 0, 15deg);
  }

  50% {
    transform: rotate3d(-10, 20, 0, 25deg) rotate(10deg);
  }

  100% {
    transform: rotate3d(0, 0, 0, 15deg);
  }
}
