@use "src/styles/mixins.scss" as mixins;

.header {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;

  @include mixins.devices(mobile) {
    height: 95px;
    background-color: #041028;
    position: fixed;
    transition: height .3s ease;

    &_open {
      height: 100%;
    }
  }

  &__container {
    padding: 58px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    @include mixins.devices(tablet) {
      justify-content: space-between;
      padding: 28px 16px;
    }
  }

  &__logo {
    position: absolute;
    left: 64px;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include mixins.devices(tablet) {
      position: static;
      width: 123px;
    }
  }
}

.burger {
  position: relative;
  width: 23px;
  height: 20px;
  display: none;

  @include mixins.devices(mobile) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__1, &__2, &__3 {
    height: 2px;
    width: 100%;
    background-color: #FBFBFB;
    border-radius: 20px;
    transition: all .3s ease;
  }

  &__1 {
    &_open {
      transform: translateY(8px) rotate(-45deg) scale(1.1);
    }
  }

  &__3 {
    &_open {
      transform: translateY(-10px) rotate(45deg) scale(1.1);
    }
  }

  &__2 {
    &_open {
      opacity: 0;
    }
  }
}

.mobMenu {
  @include mixins.scrollBar();
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  height: 0;
  overflow: hidden;
  background-color: #041028;
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
  transition: all 0.6s ease;

  &_open {
    height: calc(100% - 95px);
    overflow: auto;
    padding-bottom: 43px;
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__socials {
    margin: 0 auto;
    display: flex;
    gap: 20px;
  }
}
